PORT=3000
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

SUPABASE_URL=https://dhzreobmuheeesauxnxp.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_3BeVqrbJmiZzz6q2wcFc5Q_Hco13EoX
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_JWKS_URL=https://dhzreobmuheeesauxnxp.supabase.co/auth/v1/.well-known/jwks.json

DATABASE_URL=postgresql://postgres:your_password@db.dhzreobmuheeesauxnxp.supabase.co:5432/postgres
DB_HOST=db.dhzreobmuheeesauxnxp.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password
